@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css');

body {
  color: black;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  margin-left: 5em;
  margin-top: 5em;
  word-wrap: break-word;
  padding: 5px;
}

.chatbar {
  background-color: #16a085;
  border-top: 5px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  position: fixed;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.message.system {
  font-style: italic;
  padding: 5px 20px;
  animation: typing 2.5s steps(40, end), blinking-cursor 0.5s step-end infinite;
  color: #e74c3c;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
  font-size: 20px;
  color: #dc7633;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #f1c40f;
  border-bottom: 5px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  position: fixed;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 50px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}
h1 {
  font-style: italic;
  animation: typing 2s steps(100, end), blinking-cursor 0.5s step-end infinite;
}
